<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--自动扫描base-package内的Java文件
        如果扫描到有Spring的相关注解的类，则把他们注册为Spring的Bean-->
    <context:component-scan base-package="controller,persistence,pojo,tool"/>

    <!--<import resourSpring-MyBatis.xml.xml"/>-->
    <import resource="SpringMVC-config.xml"/>
    <!--<import resource="MyBatis-Beans.xml"/>-->
    <import resource="Spring-cache.xml"/>
    <import resource="Spring-AOP.xml"/>
</beans>