<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--基于注解-->

    <!--自动扫描base-package内的Java文件
        如果扫描到有Spring的相关注解的类，则把他们注册为Spring的Bean-->
    <context:component-scan base-package="controller"/>
    <!--注解类型的处理映射器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <!--注解类型的处理器适配器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix">
            <value>/WEB-INF/content/</value>
        </property>
        <!--后缀-->
        <!--<property name="suffix" >-->
            <!--<value>.jsp</value>-->
        <!--</property>-->
    </bean>

    <!--拦截器-->
    <!--<mvc:interceptors>-->
        <!--<bean class="interceptor.InterceptorOne"/>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/SpringMVC/*"/>-->
            <!--<bean class="interceptor.InterceptorOne"/>-->
        <!--</mvc:interceptor>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/SpringMVC/FormHandler0.download"/>-->
            <!--<bean class="interceptor.InterceptorOne"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


    <!--基于配置-->
    <!--配置Handle，映射"/hello"请求-->
    <!--<bean name="/hello" class="handler.HelloController"/>-->

    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->
    <!--下面这个是一个处理器适配器，所有的处理适配器都要实现HandlerAdapter接口-->
    <!--<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>-->
    <!--视图解析器-->
    <!--<bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>-->

    <!--下载配置-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>33485760</value>
        </property>
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>


</beans>